.header{
    padding: 100px;
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
}

.header-column {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-icon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.header-title {
    padding-left: 5%;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

.timer{
    font-weight: 50px;
    justify-content: center;
    align-items: center;
}
